* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.input div {
    height: 6rem;
    width: 8rem;
    font-size: 3rem;
    background-color: darkgrey;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
height: 50rem;
width: 40rem;
display: flex;
flex-wrap: wrap;
}

.display {
    height: 10rem;
    width: 30rem;
    background-color: darkgray;
    color: white;
}